* {
    box-sizing: border-box;
}

/* ||  FONT STYLES *******/
html {
    font-size: 17px;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#454545;
}


h2,
h3 {
    font-family: 'Rajdhani', sans-serif;
}



.overview-title-wrap h5 {
    color: rgb(144, 144, 144);
    padding: .5rem 0;
    font-size: 1rem;
}


h4,
.copyright {
    font-size: .7rem;
}


a {
    text-decoration: none;
}

p {
    color:#454545cd;
    line-height: 1.3;
}



/* || HEADER *******/

.header-container {
    position: fixed;
    top: 0;
    background: #fff;
    height: 65px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container-wrap {
    display: flex;
    margin: 0 auto;
    width: 320px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item a {
    color: #454545bc;
    transition: color .3s ease;
}

.nav-item a:hover {
    color: #454545;
}

/* || LOGO STYLE *******/

#logo {
    font-family: "quiche-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
}


/* || MAIN CONTAINER ****************/

/* OVERVIEW */
.main-content {
    width: 100%;
    margin-top: 65px;
    background:#f4f4f4;
}

.content-image-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-title-wrap {
    text-align: center;
    padding: 2rem 0 1rem;
}

.overview-content-wrap {
    border-top: 1px solid rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding-bottom: 2rem;
}

/* CONTENT WRAP 320px */

.content-wrap {
    width: 320px;
    padding:1rem 0 2rem;
    margin: 0 auto;
}


/* TITLE CENTER ******/

.title-center h2 {
    text-align: center;
}


.four-pg-content-wrap {
    border-top: 1px solid rgb(184, 184, 184);
}

.overview-paragraph-wrap {
    text-align: left;
}

.overview-image-container {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 300px;
}



/* TTITLE BANNERS  */

.banner-title-wrap {
    padding: 1rem 0;
    text-align: center;
}

.banner h3 {
    font-size: 1.8rem;
}



/* USER RESEARCH CONTAINER */
.user-research-text-wrap {
    padding:2rem 0;
}

.user-persona-img,
.storyboard-img {
    position: relative;
    top: 0;
    bottom:0;
    width: 100%;
    display:inline-block;
}

.storyboard-imgs-container h3 {
    text-align: center;
}

.big-picture-img {
    margin-bottom:1rem;
}




.user-research-content-wrap {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.user-research-text-wrap img {
    width: 350px;
}

.user-research-text-wrap p {
    width: 320px;
    margin:0 auto;
    padding-right: 0;
    padding-left: 0;
}


.problem-statement {
    padding:2rem 0;
}


/* Slideshow container ******************/

.wireframe-img,
.user-research-text-wrap img {
    width: 100%;
    box-shadow: 0px 12px 23px rgba(121, 121, 121, 0.226);
}

.wireframes-content-wrap {
    padding: 1rem 0 2rem;
}

.slideshow-container {
    width: 320px;
    position: relative;
    margin: 0 auto;
}

.prototypes-container {
    padding-top: 2rem;
}

/* Hide the images by default */
.mySlides,
.prototypes {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px 11px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #6a6a6a;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, 
.next:hover {
    background-color: #171717;
}


/* Caption text */
.slides-title {
    position: absolute;
    text-align: center;
    color: #9b56bb;
    font-size: .92rem;
    padding: 8px 12px;
    top: 8px;
    width: 100%;
}

/* Number text */
.numbertext {
    color:#9b56bb;
    font-size: .88rem;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    right: 8px;
}

/* The dots/bullets/indicators */
.dot-container {
    padding-bottom: 1rem;
    text-align: center;
}
.dot,
.dot-proto {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: rgb(196, 196, 196);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

  
.active, .dot:hover {
    background-color: #454545d6;
}

.active, .dot-proto:hover {
    background-color: #454545d6;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .3s;
    animation-name: fade;
    animation-duration: .3s;
}

@-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}


/* LEARNINGS CONTENT WRAP */

#learnings-banner {
    padding: 1rem 0;
    text-align: center;
}


#learnings-content-wrap {
    padding:0 0 6rem;
}

#learnings-content-wrap p {
    margin-top: 0;
}


/* || FOOTER CONTAINER STYLES *******/

#footer-container{
    padding: .5rem 0;
    display: flex;
    width: 330px;
    height: 65px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flag {
    width: 1.8rem;
    height: .8rem;
}

.flag-white {
    display: inline-block;
}

.flag-color {
    display: none;
}

.flag-container:hover .flag-white {
    display: none;
}

.flag-container:hover .flag-color {
    display: inline-block;
}


.copyright,
.signature {
    color:rgb(145, 145, 145)
}


.signature {
    font-family: quiche-sans,sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.05rem;
}

.bahena {
    display: none;
}


/* =====================================
Media Query for 576px (landscape phones)
========================================= */

@media (min-width: 576px) {

/* || HEADER & FOOTER *******/
.nav-container-wrap,
#footer-container {
    width: 420px;
}


}


/* =====================================
Media Query for 768px (tablets)
======================================== */

@media (min-width: 768px) {
    
/* ||  FONT STYLES *******/

h1 {
    font-size: 2.76rem;
}

h2 {
    font-size: 2.29rem;
}

.banner h3 {
    font-size: 2.58rem;
}

.user-research-text-wrap h3 {
    font-size: 1.85rem;
}

/* || HEADER FOOTER *******/
.nav-container-wrap,
#footer-container {
    width: 520px;
}

/* || OVERVIEW CONTAINER *******/

.overview-content-wrap {
    width: 700px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.overview-paragraph-wrap {
    width: 47%;
    margin-bottom: auto;
}


p,
.overview-title-wrap h5 {
    font-size: 1.15rem;
}


/* EMPATHIZE PERSONAS & STORYBOARDS */

.user-research-content-wrap {
    width: 720px;
    padding-bottom: 3rem;
}

.user-research-text-wrap img {
    width: 710px;
}

.user-research-text-wrap p {
    width: 520px;  
}

.problem-statement {
    padding:3rem 0;
}

/* CONTENT WRAP 520px */

.content-wrap  {
    width:520px;
}


/* IMAGE CONTAIER  ******/

.overview-image-container {
    height: 400px;
}


}


/* ====================================
Media Query for 1024px (large tablets)
======================================= */

@media (min-width: 1024px) {

/* || MAIN CONTAINER *******/
.nav-container-wrap,
#footer-container {
    width: 720px;
}

/* || OVERVIEW CONTAINER *******/

.overview-content-wrap {
    width: 900px;
    padding: 0 0 3rem;
}


/* || FOOTER CONTAINER *******/
.flag {
    width: 2rem;
    height: 1rem;
}
    
h4,
.copyright {
    font-size: 1rem;
}

.bahena {
    display: inline-block;
}
    
}




/* =====================================
Media Query for 1366px (Laptop & Desktop)
======================================== */

@media (min-width: 1366px) {

h1 {
    font-size: 3.29rem;
}

h2 {
    font-size: 2.76rem;
}

.banner h3 {
    font-size: 3.05rem;
}

.user-research-text-wrap h3 {
    font-size: 2rem;
}

/* || HEADER FOOTER *******/
.nav-container-wrap,
#footer-container {
    width: 1150px;
}

p,
.overview-title-wrap h5 {
    font-size: 1.2rem;
}


/* || MAIN CONTAINER ****************/

.study-overview-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-image-container {
    padding:0;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1366px;
}

.overview-text-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 3rem;
    width: 60%;
}

.overview-image-container {
    width: 40%;
    height: 550px;
    margin: 0 auto;
}

.overview-title-wrap {
    text-align: left;
}

.overview-content-wrap {
    border-top: none;
    text-align: left;
    justify-content: space-between;
    width: 735px;
    padding:0;
}

.goal,
.responsibilities {
    padding-bottom: 3rem;
}


.overview-paragraph-wrap {
    width: 346px;
    align-items: flex-start;
    margin-bottom: auto;
}


/* EMPATHIZE PERSONAS & STORYBOARDS */

.user-research-content-wrap {
    width: 900px;
}

.user-research-text-wrap img {
    width: 900px;
}

.user-research-text-wrap p {
    width: 720px;
}



/* CONTENT WRAP 720px */
.content-wrap {
    width: 720px;
    padding:2rem 0 3rem;
}


}

/* =====================================
Media Query for 1600px (Wide screens)
======================================== */

@media (min-width: 1600px) {

/* || MAIN CONTAINER *******/

.nav-container-wrap,
#footer-container {
    width: 1300px;
}

.content-image-container{
    width: 1600px;
}

.overview-content-wrap {
    width: 800px;
}
    
    
}