* {
    box-sizing: border-box;
}


h2 {
font-family: brevia,sans-serif;
font-weight: 700;
font-style: normal;
} */

/* ||  FONT STYLES *******/
html {
    font-size: 17px;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#454545;
}


.overview-title-wrap h1,
.overview-title-wrap h5 {
    font-family: brevia,sans-serif;
    font-weight: 800;
    font-style: italic;
    margin: 0 auto;
}


h2 {
    font-family: brevia,sans-serif;
    font-weight: 700;
    font-style: normal;
}



.overview-title-wrap h5 {
    color: rgba(144, 144, 144, 0.795);
    padding: .5rem 0;
    font-size: 1rem;
}


h4,
.copyright {
    font-size: .88rem;
}


a {
    text-decoration: none;
}

p {
    color:#454545cd;
    line-height: 1.3;
}



/* CHARITIES ICON HEADER  */
.sensorybox-icon {
    width: 1.4rem;
    height: 1.6rem;
}


/* || HEADER *******/

.header-container {
    position: fixed;
    top: 0;
    background: #fff;
    height: 65px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container-wrap {
    display: flex;
    margin: 0 auto;
    width: 320px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item a {
    color: #454545bc;
    transition: color .3s ease;
}

.nav-item a:hover {
    color: #454545;
}

/* || LOGO STYLE *******/

#logo {
    font-family: "quiche-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
}


/* || MAIN CONTAINER ****************/

/* OVERVIEW */
.main-content {
    width: 100%;
    margin-top: 65px;
    background:#f4f4f4;
}

.content-image-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-title-wrap {
    text-align: center;
    padding: 2rem 0 1rem;
}

.overview-content-wrap {
    border-top: 1px solid rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTENT WRAP 320px */

.content-wrap {
    width: 320px;
    padding:1rem 0 2rem;
    margin: 0 auto;
}


/* TITLE CENTER ******/

.title-center h2 {
    text-align: center;
}


.four-pg-content-wrap {
    border-top: 1px solid rgb(184, 184, 184);
}

.overview-paragraph-wrap {
    text-align: left;
}

.overview-image-container {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 300px;
}

.tcc-mobile {
    position: relative;
    top: 0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display:inline-block;
}


.tcc-tablet,
.tcc-desktop {
    display: none;
}

/* TTITLE BANNERS  */

.banner-title-wrap {
    padding: 1rem 0;
    text-align: center;
}

.banner h3 {
    font-family: brevia,sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1.8rem;
}

    /* BANNER BACKGROUND COLORS  */
.empathize-banner {
    background-color: #bdffdfea;
}
.ideate-banner {
    background-color: rgba(186, 186, 186, 0.74);
}
.testing-banner {
    background-color: rgba(216, 202, 255, 0.948);
}
.prototype-banner {
    background-color: rgba(255, 226, 185, 0.897);
}
.summary-banner {
    background: linear-gradient(90deg, #319762 1%, #622ea2f3  100%);
}
.accessibility-banner {
    background-color: rgb(236, 228, 228);
}



     /* BANNER FONT COLORS  */
.empathize-banner h3 {
    color: #118d51;
}
.ideate-banner h3 {
    color: rgb(72, 72, 72)
}
.testing-banner h3 {
    color: rgba(67, 38, 155, 0.918);
}
.prototype-banner h3 {
    color: rgb(151, 95, 17);
}
.summary-banner h3 {
    color: white;
}


/* USER RESEARCH CONTAINER */
.user-research-text-wrap {
    padding-bottom:1rem;
}

.user-persona-img,
.storyboard-img {
    position: relative;
    top: 0;
    bottom:0;
    width: 100%;
    display:inline-block;
}

.storyboard-imgs-container h3 {
    text-align: center;
}

.big-picture-img {
    margin-bottom:1rem;
}



/* IDEATE TITLE CONTAINER */


.ideate-title-wrap {
    padding-bottom: 2rem;
}


/* Slideshow container ******************/

.wireframe-img,
.user-research-text-wrap img {
    width: 100%;
    box-shadow: 0px 12px 23px rgba(121, 121, 121, 0.226);
}

.slideshow-container {
    width: 320px;
    position: relative;
    margin: 0 auto;
}

.prototypes-container {
    padding-top: 2rem;
}

/* Hide the images by default */
.mySlides,
.prototypes {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px 11px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #6a6a6a;
}



.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, 
.next:hover {
    background-color: #171717;
}


/* Caption text */
.slides-title {
    position: absolute;
    text-align: center;
    color: #9b56bb;
    font-size: .92rem;
    padding: 8px 12px;
    top: 8px;
    width: 100%;
}

/* Number text */
.numbertext {
    color:#9b56bb;
    font-size: .88rem;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    right: 8px;
}

/* The dots/bullets/indicators */
.dot-container {
    padding-bottom: 1rem;
    text-align: center;
}
.dot,
.dot-proto {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: rgb(196, 196, 196);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

  
.active, .dot:hover {
    background-color: #454545d6;
}

.active, .dot-proto:hover {
    background-color: #454545d6;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .3s;
    animation-name: fade;
    animation-duration: .3s;
}

@-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}


/* LEARNINGS CONTENT WRAP */
#learnings-content-wrap {
    padding:0 0 5rem;
}

/* || FOOTER CONTAINER STYLES *******/

#footer-container{
    padding: .5rem 0;
    display: flex;
    width: 330px;
    height: 65px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flag {
    width: 1.8rem;
    height: .8rem;
}

.flag-white {
    display: inline-block;
}

.flag-color {
    display: none;
}

.flag-container:hover .flag-white {
    display: none;
}

.flag-container:hover .flag-color {
    display: inline-block;
}


.copyright,
.signature {
    color:rgb(145, 145, 145)
}


.signature {
    font-family: quiche-sans,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.bahena {
    display: none;
}