
h2 {
    font-family: brevia,sans-serif;
    font-weight: 700;
    font-style: normal;
} 


.overview-title-wrap h1,
.overview-title-wrap h5 {
    font-family: brevia,sans-serif;
    font-weight: 800;
    font-style: italic;
    margin: 0 auto;
}

h2 {
    font-family: brevia,sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -.05rem;
}

/* CHARITIES ICON HEADER  */
.sensorybox-icon {
    width: 1.64rem;
    height: 1.64rem;
    display: inline-block;
}


.colored-header-icon {
    display: none;
}

.icon-container:hover .sensorybox-icon {
    display: none;
}

.icon-container:hover .colored-header-icon {
    display: inline-block;
}


.sensorybox-mobile {
    position: relative;
    top: 0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display:inline-block;
}

.sensorybox-tablet {
    display: none;
}


.banner h3 {
    font-family: brevia,sans-serif;
    font-weight: 800;
    font-style: italic;
}

    /* BANNER BACKGROUND COLORS  */
.empathize-banner {
    background-color: #c1ffdcf7;
}
.ideate-banner {
    background-color: rgba(186, 186, 186, 0.74);
}
.testing-banner {
    background-color: rgba(216, 202, 255, 0.948);
}
.prototype-banner {
    background-color: rgba(255, 226, 185, 0.897);
}
.summary-banner {
    background: linear-gradient(90deg, #319762 1%, #622ea2f3  100%);
}
.accessibility-banner {
    background-color: rgb(236, 228, 228);
}



     /* BANNER FONT COLORS  */
.empathize-banner h3 {
    color: #119d59ee;
}
.ideate-banner h3 {
    color: rgb(72, 72, 72)
}
.testing-banner h3 {
    color: rgba(67, 38, 155, 0.918);
}
.prototype-banner h3 {
    color: rgb(151, 95, 17);
}
.summary-banner h3 {
    color: white;
}



/* =====================================
Media Query for 768px (tablets)
======================================== */

@media (min-width: 768px) {
    

.sensorybox-mobile{
    display: none;
}

.sensorybox-tablet {
    position: relative;
    top: 0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display:inline-block;
}

}


/* ====================================
Media Query for 1024px (large tablets)
======================================= */

@media (min-width: 1024px) {

.sensorybox-icon {
    width: 1.8rem;
    height: 1.8rem;
}
    
}


/* =====================================
Media Query for 1366px (Laptop & Desktop)
======================================== */

@media (min-width: 1366px) {

.sensorybox-icon{
    width: 1.9rem;
    height: 1.9rem;
}

}
