* {
    box-sizing: border-box;
}

/* ||  FONT STYLES *******/
html {
    font-size: 17px;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#454545;
}

h1,
h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

h3 {
    font-size: 1.4rem;
    color:#454545;
}

h4,
.copyright {
    font-size: .7rem;
}

a {
    text-decoration: none;
}


/* ICONS  */
.web-dev-icon {
    width: 1.7rem;
    height: 1.4rem;
}
#footer-container .american-flag {
    width: 1.8rem;
    height: .8rem;
}


/* || HEADER *******/

.header-container {
    position: fixed;
    top: 0;
    background: #fff;
    height: 65px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container-wrap {
    display: flex;
    margin: 0 auto;
    width: 320px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item a {
    color: #454545bc;
    transition: color .3s ease;
}

.nav-item a:hover {
    color: #454545;
}


/* || LOGO STYLE *******/
#logo {
    font-family: "quiche-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
}


/* || MAIN CONTAINER *******/

.main-container {
    width: 100%;
    margin-top: 65px;
    background:#f4f4f4;
}

h1 {
    padding: 3rem 0;
    width: 300px;
    margin: 0 auto;
}



/* || SKILLSET CONTAINER *******/

.skillset-container {
    position: relative;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.card-container {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    margin-bottom: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 12px 23px rgba(121, 121, 121, 0.226);
    border-radius: 3px;
}

.card-container:hover {
    box-shadow: 0 0 0 white;
}

.card-container:hover h3 {
    position: relative;
    z-index: 99;
    color: rgb(244, 244, 244);
}


/* || GITHUB ICON *******/

.github-icon {
    position: relative;
    width: 1.85rem;
    height: 1.85rem;
}

.github-black {
    display: inline-block;
}

.card-container:hover .github-black {
    display: none;
}

.github-white {
    display: none;
}

.card-container:hover .github-white {
    display: inline-block;
}




.skill-img {
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: .4s ease;
}

.card-container:hover .skill-img {
    opacity: 1;
}


/* || BOTTOM HERO IMAGE *******/
#hero-container {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 300px;
}


#hero-container img {
    position: absolute;
    top: 0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display:inline-block;
}

.video-space-ship {
    display: none;
}


.hero-title {
    position: relative;
    z-index: 99;
    color:rgb(240, 240, 240);
    padding-top: 50px;
}


/* || FOOTER CONTAINER STYLES *******/

#footer-container{
    padding: .5rem 0;
    display: flex;
    width: 330px;
    height: 65px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.flag {
    width: 1.8rem;
    height: .8rem;
}

.flag-white {
    display: inline-block;
}

.flag-color {
    display: none;
}

.flag-container:hover .flag-white {
    display: none;
}

.flag-container:hover .flag-color {
    display: inline-block;
}


.copyright,
.signature {
    color:rgb(145, 145, 145)
}


.signature {
    font-family: quiche-sans,sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.05rem;
}

.bahena {
    display: none;
}



/* =====================================
Media Query for 576px (landscape phones)
========================================= */

@media (min-width: 576px) {

h3 {
    font-size: 1.45rem;
}

.github-icon {
    width: 1.95rem;
    height: 1.95rem;
}

 /* || HEADER & FOOTER *******/
.nav-container-wrap,
#footer-container {
    width: 420px;
}

/* || SKILLSET CONTAINER *******/

.skillset-container {
    width:360px;
}

}


/* ==============================
Media Query for 768px (tablets)
================================== */

@media (min-width: 768px) {

/* || FONT STYLES  *******/

h1 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4,
.copyright {
    font-size: .8rem;
}

/* || GITHUB ICON *******/

.github-icon {
    width: 2.1rem;
    height: 2.1rem;
}

h1 {
    width: 100%;
    padding: 4rem 0;
}

/* || HEADER FOOTER *******/
.nav-container-wrap,
#footer-container {
    width: 520px;
}

/* || SKILLSET CONTAINER *******/

.skillset-container {
    width:380px;
}


/* || BOTTOM HERO IMAGE *******/
#hero-container {
    height: 500px;
}

}


/* ====================================
Media Query for 1024px (large tablets)
======================================= */

@media (min-width: 1024px) {

.web-dev-icon {
    width: 2.1rem;
    height: 1.2rem;
}

/* || MAIN CONTAINER *******/
.nav-container-wrap,
#footer-container {
    width: 720px;
}

/* || SKILLSET CONTAINER *******/

.skillset-container {
    width:780px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card-container {
    width: 45%;
}

/* || BOTTOM HERO IMAGE *******/
#hero-container {
    height: 560px;
}

/* || FOOTER CONTAINER *******/

.flag {
    width: 2rem;
    height: 1rem;
}

h4,
.copyright {
    font-size: 1rem;
}

.bahena {
    display: inline-block;
}
  
}

/* =====================================
Media Query for 1366px (Laptop & Desktop)
======================================== */

@media (min-width: 1366px) {


h1 {
    font-size: 3.3rem;
}

h3 {
    font-size: 1.8rem;
}

/* || GITHUB ICON *******/

.github-icon {
    width: 2.25rem;
    height: 2.25rem;
}


/* || MAIN CONTAINER *******/
.main-container {
    height: 650px;
}
.nav-container-wrap,
#footer-container {
    width: 1150px;
}

/* || SKILLSET CONTAINER *******/

.skillset-container {
    width:1220px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 1rem;
}

.card-container {
    width: 30%;
    height: 100%;
    padding:4.2rem 0;
    margin-bottom:0;
}


}

/* =====================================
Media Query for 1600px (Wide screens)
======================================== */

@media (min-width: 1600px) {

    /* || MAIN CONTAINER *******/
    
    .nav-container-wrap,
    #footer-container {
        width: 1300px;
    }
    
    /* || SKILLSET CONTAINER *******/
    
    .skillset-container {
        width:1360px;
    }


    
    }
