.overview-title-wrap h1,
.overview-title-wrap h5 {
    font-family: museo-sans-rounded,sans-serif;
    font-weight: 900;
    font-style: normal;
    margin:0 auto;
}

.overview-title-wrap h1 {
    color: #EF2323;
}


h2,
h3,
.banner h3,
.overview-title-wrap h5 {
    font-family: museo-sans-rounded,sans-serif;
    font-weight: 800;
    font-style: normal;
}


/* DINNER PLATE ICON HEADER  */
.grocery-cart-icon {
    width: 1.64rem;
    height: 1.64rem;
    display: inline-block;
}

.colored-header-icon {
    display: none;
}

.icon-container:hover .grocery-cart-icon {
    display: none;
}

.icon-container:hover .colored-header-icon {
    display: inline-block;
}



.wiggly-mobile {
    position: relative;
    top: 0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display:inline-block;
}

.wiggly-tablet {
    display: none;
}




    /* BANNER BACKGROUND COLORS  */
.empathize-banner {
    background-color: #dcdcdc;
}
.ideate-banner {
    background-color: #a0a0a0;
}
.testing-banner {
    background-color: #565656;
}
.prototype-banner {
    background-color: #EF2323;
}
.summary-banner {
    background: linear-gradient(45deg, #EF2323 1%, #ff7b7b 50%,#EF2323 100%);
}
.accessibility-banner {
    background-color: rgb(236, 228, 228);
}



     /* BANNER FONT COLORS  */
.empathize-banner h3 {
    color: #767676;
}
.ideate-banner h3 {
    color: rgb(239, 239, 239);
}
.testing-banner h3 {
    color: rgb(235, 235, 235);
}
.prototype-banner h3 {
    color: rgb(255, 233, 233);
}
.summary-banner h3 {
    color: white;
}





/* =====================================
Media Query for 768px (tablets)
======================================== */

@media (min-width: 768px) {
    

.wiggly-mobile{
    display: none;
}

.wiggly-tablet {
    position: relative;
    top: 0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display:inline-block;
}

}


/* ====================================
Media Query for 1024px (large tablets)
======================================= */

@media (min-width: 1024px) {

.grocery-cart-icon {
    width: 1.8rem;
    height: 1.8rem;
}
    
}


/* =====================================
Media Query for 1366px (Laptop & Desktop)
======================================== */

@media (min-width: 1366px) {

.grocery-cart-icon{
    width: 1.9rem;
    height: 1.9rem;
}

}
